In [1]:
import matplotlib
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('movies.csv')
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [4]:
df.dropna(axis=1,how='all',inplace=True)

In the code above,i dropped all columns with null values

In [5]:
df.columns= df.columns.str.upper()
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RUNTIME', 'GROSS'],
      dtype='object')

I  changed column names to uppercase in the code above

In [6]:
df.isnull().any()

MOVIES      False
YEAR         True
GENRE        True
RATING       True
ONE-LINE    False
STARS       False
VOTES        True
RUNTIME      True
GROSS        True
dtype: bool

In the above code i checked if there are null values in the dataframe which returned true

In [7]:
df['GENRE'].fillna('No Genre',inplace=True)



# df['GROSS'].fillna(0,inplace=True)

In the code above i filled null values in the column genre with no Genre

In [8]:
r=df['RATING'].mean()
df['RATING'].fillna(r,inplace=True)

In  in the above code i filled the  null values in column ratings with the mean value of the column

In [9]:
df['VOTES'].fillna(0,inplace=True)

In the above code, i filled the null values in the votes columns with 0

In [10]:
rt=df['RUNTIME'].mean()
df['RUNTIME'].fillna(rt,inplace=True)

In the code above, i filled the column runtime with the mean value of the column

In [ ]:
df.drop_duplicates()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RUNTIME,GROSS
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.100000,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.000000,0
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.000000,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.000000,0
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.200000,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.000000,0
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.200000,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.000000,0
4,Army of Thieves,(2021),"\nAction, Crime, Horror",6.921176,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,0,68.688539,0
...,...,...,...,...,...,...,...,...,...
9993,Totenfrau,(2022– ),"\nDrama, Thriller",6.921176,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,0,68.688539,0
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",6.921176,\nAdd a Plot\n,\n,0,68.688539,0
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",6.921176,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,0,68.688539,0
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",6.921176,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,0,68.688539,0
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",6.921176,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,0,68.688539,0

In the code above,i deleted all duplicated rows in the dataframe

In [30]:
df['YEAR'] = df['YEAR'].str.strip('( –)-')
df['YEAR']

0            2021
1            2021
2       2010–2022
3            2013
4            2021
          ...
9994         2021
9995         2021
9996         2022
9997         2021
9998         2021
Name: YEAR, Length: 9999, dtype: object

In the code above,i removed the dash character and bracket from year column

In [51]:
df['YEAR']

0            2021
1            2021
2       2010–2022
3            2013
4            2021
          ...
9994         2021
9995         2021
9996         2022
9997         2021
9998         2021
Name: YEAR, Length: 9999, dtype: object